<div class="col-12">
    <div class="card recent-sales overflow-auto">

      <div class="filter">
        <a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <li class="dropdown-header text-start">
            <h6>Filter</h6>
          </li>

          <li><a class="dropdown-item">Today</a></li>
          <li><a class="dropdown-item">This Month</a></li>
          <li><a class="dropdown-item">This Year</a></li>
        </ul>
      </div>

      <div class="card-body">
        <h5 class="card-title">Most viewed videos <span>| Today</span></h5>

        <table class="table table-borderless datatable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Video</th>
              <th scope="col">date of publishment</th>
              <th scope="col">Views</th>
              <th scope="col">Likes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><a>#2457</a></th>
              <td>video 1</td>
              <td><a class="text-primary">Wednesday october 26th</a></td>
              <td>10k</td>
              <td><span class="badge bg-success">500</span></td>
            </tr>
            <tr>
                <th scope="row"><a>#2457</a></th>
                <td>video 1</td>
                <td><a class="text-primary">Wednesday october 26th</a></td>
                <td>10k</td>
                <td><span class="badge bg-success">500</span></td>
              </tr>
              <tr>
                <th scope="row"><a>#2457</a></th>
                <td>video 1</td>
                <td><a class="text-primary">Wednesday october 26th</a></td>
                <td>10k</td>
                <td><span class="badge bg-success">500</span></td>
              </tr>
              <tr>
                <th scope="row"><a>#2457</a></th>
                <td>video 1</td>
                <td><a class="text-primary">Wednesday october 26th</a></td>
                <td>10k</td>
                <td><span class="badge bg-success">500</span></td>
              </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div><!-- End Recent Sales -->