<!DOCTYPE html>
<html lang="en">
<body>

<app-main-navbar></app-main-navbar>
 <app-sidebar></app-sidebar>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Cards</h1>
      <div style="flex-direction: row; justify-content: space-between; flex: 1;">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Components</li>
          <li class="breadcrumb-item active">Cards</li>
        </ol>
       
      </nav>
     
      <a class="MerchAdd" href="Merch-Add">Add Merch</a>
    </div>
    </div><!-- End Page Title -->

    <!-- <app-merch-select></app-merch-select> -->
    <br>
      <div class="EditContainer">
            <div class="ItemCard">
                <img class="card-img-top" src="{{item.imgurl}}" style="height: 30% ;">
                <div class="card-body" >
                    <input [(ngModel)]="item.imgurl" placeholder="Enter the image URL here">
                  <input [(ngModel)] = "item.name" placeholder="Enter the name of the merch ">
                  <input [(ngModel)] = "item.type" placeholder="Enter the type of the merch ">
                  <input [(ngModel)] = "item.Rem" placeholder="Enter the remaining quantiity of the merch ">
                  <input [(ngModel)] = "item.price" placeholder="Enter the price of the merch ">
                  <input [(ngModel)] = "item.size" placeholder="Enter the size of the merch ">
                  <input [(ngModel)] = "item.desc" placeholder="Enter the description of the merch ">
                  <a class="CardButton" href="Merch/All">Submit</a>
                </div>
              </div>  
      </div>
    <app-back-to-top></app-back-to-top>
  </main><!-- End #main -->
</body>
</html>