<li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-menu-button-wide"></i><span>Merch</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a href="Merch/All" >
          <i class="bi bi-circle"></i><span>All Merch</span>
        </a>
      </li>
      <app-merch-option *ngFor="let m of MerchTypes" [type]="m"></app-merch-option>
      <li>
        <a href="Merch/Stats" >
          <i class="bi bi-circle"></i><span>Stats</span>
        </a>
      </li>
    </ul>
  </li>